<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
  <ion-tabs>
    <ion-tab-bar>
      <ion-tab-button tab="Homepage">
        <ion-label>Home</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="Page1">
        <ion-label>Page1</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="Page2">
        <ion-label>Page2</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="Page3">
        <ion-label>Page3</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
 
</ion-content>
